/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1400px) {}


/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
    .slider__content h4 {
        font-size: 30px;
    }

    .slider__btn {
        margin-top: 20px;
    }

    .single-features {
        padding: 10px 5px;
    }

    .single-features h2 {
        font-size: 22px;
    }

    .single__contact a {
        font-size: 18px;
    }
}


/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
    .slider__content h4 {
        font-size: 25px;
    }

    .header-left {
        padding: 5px;
    }

    .slider__btn {
        margin-top: 30px;
    }

    .slider__content {
        width: 90%;
    }

    .single__footer {
        margin-bottom: 20px;
    }

    .single__footer.footer_contact img {
        width: 50% !important;
    }

    .single__contact a {
        font-size: 16px;
    }
    .promotion-text {
        margin-top: 30px;
    }
    .about-bg::after {
        display: none;
    }
}


/* small mobile :320px. */
@media (max-width: 767px) {
    .slider__content h4 {
        font-size: 25px;
    }

    .header-left {
        padding: 5px;
    }

    .slider__btn {
        margin-top: 20px;
    }

    .slider__content {
        width: 90%;
    }

    .single-slider {
        position: relative;
        height: 50vh;
    }

    #bg-video {
        height: 100%;
    }

    .single__footer {
        margin-bottom: 20px;
    }
    .about-bg::after {
        display: none;
    }
    .about-bg {
        height: 400px;
    }
    .single__footer.footer_contact img {
        width: 50% !important;
    }
    .copyright .container {
        display: block;
    }
    
    .copyright .container span {
        display: block;
        text-align: center;
    }
    .scroll-top.open {
        bottom: 100px;
    }
}

/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {}