/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

ul {
    margin: 0;
    padding: 0;
    outline: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* header */
.slider-area {
    position: relative;
}

.header-area {
    position: relative;
    z-index: 9;
    background-image: linear-gradient(to right, #198754, #2aa7a1, #7fc2d6, #ccddf1, #ffffff);
}

.header-left {
    display: flex;
    gap: 50px;
    padding: 20px;
    padding-top: 15px;
}

.header-menu ul {
    display: flex;
    align-items: center;
    gap: 15px;
}

.slider__content {
    position: absolute;
    top: 60%;
    z-index: 9;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slider__content h4 {
    color: #fff;
    font-size: 40px;
    text-align: center;
}

.header-menu li {
    transition: all .5s ease-in-out;
}

.header-left .logo a img {
    width: 100%;
}

.header-menu li:hover>a {
    color: #198754;
}

.header-menu {
    display: flex;
}

.header-menu ul li a {
    color: #fff;
    text-transform: capitalize;
    font-size: 16px;
    padding: 20px 0;
    display: flex;
    transition: all .5s ease-in-out;
    gap: 10px;
    align-items: center;
}

ul.sub__category li:hover ul.child__category {
    opacity: 1;
    visibility: visible;
}

.header-menu ul li>ul.sub__category li:hover>a {
    background-color: #198754;
    color: #fff;
}

.header-menu ul li a i {
    font-size: 12px;
}

.header-menu ul li>ul.sub__category {
    position: absolute;
    background: #fff;
    font-size: 18px;
    width: 200px;
    display: block;
    opacity: 0;
    transition: all .5s ease-in-out;
    visibility: hidden;
}

.header-menu ul>li:hover>ul.sub__category {
    opacity: 1;
    visibility: visible;
}

ul.sub__category li a {
    font-size: 14px;
    color: #000;
    display: flex;
    border-bottom: 1px dotted green;
    padding: 9px 10px;
    transition: all .5s ease-in-out;
    line-height: 1;
    justify-content: space-between;
}

ul.sub__category li {
    transition: all .5s ease-in-out;
}


ul.child__category {
    position: absolute;
    background: #fff;
    display: block;
    left: 100%;
    width: 200px;
    top: 0;
    transition: all .5s ease-in-out;
    border: .5px solid #ddd;
    opacity: 0;
    visibility: hidden;
}

ul.sub__category>li>a:hover {
    background: #198754;
    color: #fff;
}

.header-menu li:hover>ul.sub__category {
    opacity: 1;
    visibility: visible;
}

.header-right ul {
    display: flex;
    gap: 20px;
    justify-content: end;
}

.header-right ul li i {
    color: #000;
    cursor: pointer;
    transition: all .5s ease-in-out;
    font-size: 18px;
}

.offcanvas-backdrop {
    cursor: crosshair;
}

.btn.account__btn a {
    color: #000;
}

.header-right ul li i:hover {
    color: #198754;
}

.search__close {
    position: absolute;
    right: -20px;
    top: -20px;
    background-color: #fff;
    color: #000;
}

button.btn-close.sidebar__address {
    position: absolute;
    width: 40px;
    height: 40px;
    right: 50px;
    top: 20px;
    cursor: pointer;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #b3b3b3;
}

h5#offcanvasExampleLabel img {
    width: 172px;
}

.sidebar_address_contact ul li {
    display: flex;
    align-items: center;
    gap: 15px;
}

.sidebar_address_contact ul li span i {
    font-size: 15px;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    background: #198754;
    padding: 15px;
    color: #fff;
}

.sidebar_address_contact ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar_address_contact ul li span a,
.sidebar_address_contact ul li span {
    color: #000;
    font-weight: 500;
    transition: all .5s ease-in-out;
}

.sidebar_address_contact ul li span a:hover {
    color: #198754;
}

button.btn.account__btn {
    border: 2px solid #198754;
    transition: all .5s ease-in-out;
    margin-top: 30px;
}

button.btn.account__btn:hover {
    background: #198754;
    color: #fff;
}

button.btn.account__btn:hover a {
    color: #fff;
}

/* mobile menu */

.mobile__menu ul li a {
    color: #000;
    text-transform: capitalize;
    transition: all .5s ease-in-out;
}

.mobile__menu ul li a:hover {
    color: #129558;
}

.mobile__menu {
    margin-bottom: 20px;
}

.mobile__menu ul li {
    padding: 7px 8px;
    margin-bottom: 10px;
    background: #f4f4f4;
}

.mobile__menu ul li a {
    font-size: 16px;
    font-weight: 500;
}

.mobile__category,
.mobile__subcategory {
    margin-left: 10px;
    padding: 5px;
    transition: all .5s ease-in-out;
    display: none;
}

.mobile__category {
    display: none;
    transition: display 0.3s ease-in-out;
}

.mobile__category li a {
    font-size: 16px;
    position: relative;
}

.mobile__category li a::after {
    position: absolute;
    content: '';
    left: -15px;
    top: 50%;
    width: 8px;
    height: 8px;
    background: #198754;
    border-radius: 50%;
    transform: translateY(-50%);
}

.mobile__subcategory li a::after {
    position: absolute;
    content: '';
    left: -15px;
    top: 50%;
    width: 10px;
    height: 8px;
    background: #198754;
    clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
    border-radius: 0;
    transform: translateY(-50%);
}

.mobile__social ul li a i {
    color: #000;
    font-size: 18px;
    transition: all .5s ease-in-out;
}

.mobile__social {
    margin-bottom: 20px;
}

.mobile__social ul li a i:hover {
    color: #198754;
    transform: scale(1.2);
}

#bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    right: 0;
    bottom: 0;
    /* width: 100%;
    min-height: 100px;
    height: 100%;
    width: auto;
    height: auto; */
    z-index: -1000;
    background-size: cover;
    background-position: center;
}


/* login register */


/* slider */
.single-slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.single-slider {
    position: relative;
    ;

}

.single-slider::after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    content: '';
    opacity: .3;
}

.slider-area.slider__active .slick-dots li button {
    text-indent: -9999px;
    border-radius: 100%;
    height: 10px;
    width: 12px;
    border: 0;
}

.slider-area.slider__active .slick-dots li.slick-active button {
    width: 30px;
    border-radius: 5px;
}

.slider-area.slider__active .slick-dots li {
    list-style: none;
}

.slider-area.slider__active .slick-dots {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 5px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}




.slider__btn a {
    border: 1px solid #fff;
    background: #fff;
    display: inline-block;
    font-weight: 500;
    padding: 5px 20px;
    line-height: 2;
    transition: all .5s ease-in-out;
}

.slider__btn a:hover {
    border: 1px solid #fff;
    color: #fff;
}

.slider__btn {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 50px;
}

/* feature start */

.single-features h2 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 15px;
}

.single-features>p {
    font-size: 17px;
    line-height: 30px;
    margin: 0;
}

.single-features>img {
    margin-bottom: 30px;
}

.single-features {
    padding: 10px;
    border: 3px solid #ddd;
    border-radius: 10px;
    transition: border-color 0.3s ease;
}

.single-features:hover {
    animation: borderAnimation 1s infinite alternate;
}

@keyframes borderAnimation {
    0% {
        border-color: #ddd;
    }

    50% {
        border-color: green;
    }

    100% {
        border-color: #ddd;
    }
}

/* feature end */

/* about start */

.about-bg {
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: inherit;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 10px;
}

.about-bg::after {
    position: absolute;
    content: '';
    left: 10%;
    top: 10%;
    width: 100%;
    height: 100%;
    background: #19875482;
    border-radius: 10px;
    z-index: -1;
}

.btn.about-btn {
    border: 2px solid #198754;
    transition: all .5s ease-in-out;
}

.btn.about-btn:hover {
    background: #198754;
    color: #fff;
}

/* about end */

/* certificate start */
.certificate-area {
    background: #F7F7FD;
}

/* certificate end */

/* portfolio start */

.single-portfolio {
    position: relative;
    overflow: hidden;
}

.portfolio-title {
    position: absolute;
    bottom: -40px;
    text-align: center;
    width: 100%;
    background: #198754;
    color: #fff;
    padding: 10px;
    line-height: 1;
    font-size: 20px;
    transition: all .5s ease-in-out;
}

.single-portfolio:hover .portfolio-title {
    bottom: 0;
}

.portfolio-image::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    background: #19875461;
    transition: all .5s ease-in-out;
}

.single-portfolio:hover .portfolio-image::after {
    width: 100%;
    height: 100%;
    top: 0
}

/* portfolio end */

/* office location */
.office__location {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.office__image img {
    width: 100%;
    min-height: 300px;
    height: 100%;
    max-height: 300px;
}

.single__office {
    position: relative;
}

.office__feature {
    position: absolute;
    top: 0;
    padding-left: 30px;
    width: 0;
    height: 0;
    font-family: "Poppins", sans-serif;
    padding-top: 30px;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease-in-out;
}

.single__office:hover .office__feature {
    opacity: 1;
    visibility: visible;
    width: 100%;
    height: 100%;
}

.office__feature p {
    margin-bottom: 0;
    color: #000;
    position: relative;
    transition: all .5s ease-in-out;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
}

.single__office:hover .office__feature p {
    opacity: 1;
    visibility: visible;
}

.office__feature::after {
    position: absolute;
    content: '';
    background: #F1F1F1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all .5s ease-in-out;
}

/* office end */

/* contact start */
.footer__area {
    background: #198754c2;
}

.single__footer a img {
    margin-bottom: 20px;
}

.single__footer p {
    color: #fff;
}

.single__contact {
    background: #ddd;
    border-radius: 10px;
    padding: 30px 20px;
    transition: all .5s ease-in-out;
    border-bottom: 5px solid transparent;
}

.single__contact h4 {
    margin-bottom: 0;
    padding: 10px 0;
}

.single__contact a {
    display: block;
    color: #000;
    font-size: 15px;
}

.single__contact:hover {
    border-bottom: 5px solid #198754;
}

.contact__area input,
.contact__area textarea {
    border: 1px solid #4aa078;
    border-radius: 3px;
    padding: 10px;
}

.footer_contact ul li {
    display: flex;
    gap: 15px;
    margin-bottom: 10px;
}

.footer_contact ul li span a {
    color: #000;
    text-transform: full-size-kana;
}

.single__footer ul li a {
    color: #fff;
    text-transform: capitalize;
    font-size: 16px;
}

.footer_contact ul li span,
.footer_contact ul li span a {
    color: #fff;
}

.single__footer a img {
    margin-bottom: 20px;
}

.single__footer p {
    color: #fff;
}

.footer_contact ul li span,
.footer_contact ul li span a {
    color: #fff;
}

.single__footer h4 {
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 10px;
}

.single__footer h4::after {
    position: absolute;
    content: '';
    left: 0;
    top: 100%;
    background: #fff;
    width: 50px;
    height: 2px;
}

/* contact end */

/* scrollUp */
.scroll-top {
    width: 50px;
    height: 50px;
    line-height: 50px;
    position: fixed;
    bottom: 105%;
    right: 50px;
    font-size: 16px;
    border-radius: 0;
    z-index: 9;
    color: #fff;
    background: #198754;
    text-align: center;
    cursor: pointer;
    opacity: 0;
    transition: 1s ease-in-out;
    border: none;
}

.scroll-top.open {
    opacity: 1;
    bottom: 30px;
    background: #198754;
}

.scroll-top::after {
    position: absolute;
    z-index: -1;
    content: "";
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 1;
    background: radial-gradient(ellipse at center,
            rgba(0, 0, 0, 0.25) 0%,
            rgba(0, 0, 0, 0) 80%);
}

.copyright .container {
    display: flex;
    justify-content: space-between;
  }
  .copyright {
    padding: 15px 0;
    background: #198754;
  }
  .copyright .container span, .copyright .container span a {
    color: #fff;
  }